.is-invalid, #is-invalid {
    border-style: solid;
    border-color: orangered;
}

.valid, #valid {
    border-color: initial;
}

/* overlay zoom image */

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
    text-align: center;
}

#overlay img {
    height: 85vh;
    margin: 3.5%;
    width: 45vw;
    margin-left: 4vw;
}

.emptyItem {
    text-align: center;
    font-size: initial;
    font-size: xxx-large;
    font-family: cursive;
    margin: 17%;
}

.image-profile-front {
    border-radius: 14%;
    border-style: groove;
    /* box-shadow: -5px -5px 59px -12px; */
    max-width: 164px;
}

.list-group-item-kita {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
}